body {
  color: #4a4a4a;
  height: 100%;
  overflow-y: scroll;
  word-break: break-word;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}
*,
:after,
:before {
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
a,
img {
  border: none;
}
img {
  display: inline-block;
  vertical-align: middle;
}

.modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #727272;
  opacity: 0.85;
  z-index: 10001;
}

.modal-scroll {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  z-index: 10002;
}

.modal-position {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
  z-index: 1002;
}

.modal-frame {
  height: 514px;
  width: 713px;
  top: -257px;
  left: -356.5px;
  background: #fff;
  position: relative;
  border: 4px solid #fff;
  box-shadow: 0 2px 4px 0 hsl(0deg 1% 63% / 50%);
  border-radius: 6px;
}

.close {
  display: block;
  background-repeat: no-repeat;
  background-position: -1px 0;
  padding: 11px 8px;
  margin: 21px 8px 0 0;
  position: absolute;
  right: 3px;
  top: 6px;
  transition: all 0.5s linear;
  transition-timing-function: ease;
}

.bi-x-lg {
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  right: -10px;
  bottom: 0;
}

.modal-data {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 13px;
  color: #333;
  line-height: 16px;
  overflow: hidden !important;
  text-align: center;
  min-width: 0;
}
#signIn-view {
  width: 702px;
  height: 515px;
}

.left-content {
  width: 346px;
  height: 515px;
  border-right: 1px solid #d3d4d5;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: left;
  position: relative;
}

.left-text {
  position: absolute;
  top: 32px;
  left: 25px;
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  text-align: left;
}

.right-content {
  width: 356px;
  height: 520px;
  overflow: hidden;
  float: left;
  font-size: 12px;
}

.login {
  width: 347px;
  height: 406px;
  float: left;
}
.login-container {
  width: 2082px;
  height: 406px;
  left: -22px;
  position: relative;
  transition: all 0.25s linear;
  transition-timing-function: ease;
}

#redbusImage {
  height: 38px;
  margin-bottom: 8px;
  margin-top: 12px !important;
  margin-left: -118px;
  background: url(https://s3.rdbuz.com/Images/logo_r.png) 154px no-repeat;
}

.signin-header {
  font-size: 19px;
  margin-left: 44px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #d84e55;
  margin-bottom: 30px;
  margin-top: 15px;
  text-align: left;
}
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.contact-box {
  border-radius: 3px;
  border: 1px solid #34495e;
  background-color: #fff;
  font-weight: 700;
  position: relative;
  height: 48px;
  padding: 14px 0;
  margin-left: 44px;
  width: 90%;
  margin-bottom: 9px;
  line-height: 1.57;
  font-size: 14px;
}

.code-select {
  width: 25%;
  float: left;
  cursor: pointer;
}

.select-code {
  display: inline-block;

  margin-right: 5px;
  padding-left: 5px;
}

.bi-chevron-down {
  cursor: pointer;
}

.mobileInput {
  float: left;
  color: #7e7e8c;
  width: 70%;
}

.mobile {
  display: inline-block;
  width: 100%;

  outline: none;
  border: 0 none !important;
  background: #fdfdfd;
  position: relative;
}

input {
  color: inherit;
  font: inherit;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#otp-container {
  border-radius: 3px;
  letter-spacing: 0.2px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  background-color: #d84e55;
  color: #fff;
  cursor: pointer;
  height: 48px;
  padding: 14px 0;
  margin-left: 44px;
  width: 90%;
  line-height: 1.57;
  font-size: 14px;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}

#otp-container span {
  font-weight: 700;
}

.text-social-acc {
  text-align: center;
  margin-bottom: 15px;
  margin-left: 40px;
}

.or-text {
  font-size: 12px;
  font-weight: 700;
  color: #4a4a4a;
}

.w-106 {
  width: 106%;
}

.margin-g {
  margin-right: 120px;
  margin-left: 72px;
}
.social-acc-box-br {
  border-radius: 3px;
}

.social-acc-box,
.social-acc-box-br {
  width: 152px;
  height: 48px;
  display: inline-block;
  margin-top: 5px;
}

.social-acc-box {
  border-radius: 3px;
  border: 1px solid #3e3e52;
}

.facebook-logo {
  float: left;
  margin-top: 14px;
  margin-left: 14px;
}

.facebook-text {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  color: #485a96;
  margin-top: 16px;
}

.google-btn {
  background-color: #1a73e8;
  border: none;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.218s, border-color 0.218s;
  background-image: none;
  cursor: pointer;
  font-family: "Google Sans", arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
}

.google-flex {
  height: 44px;
  width: 212px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 100%;
  position: relative;
  width: 100%;
}

.google-flex div img {
  height: 18px;
  min-width: 18px;
  width: 18px;
}

.google-flex div {
  align-items: center;
  background-color: #fff;
  height: 36px;
  margin-left: -10px;
  margin-right: 12px;
  min-width: 36px;
  width: 36px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  display: flex;
  justify-content: center;
}

.signin-terms {
  margin-left: 48px;
  color: #9b9b9b;
  margin-bottom: 5px;
  font-size: 11px;
}
.signin-terms a {
  color: #4f91d9;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}
.signin-screen {
  font-size: 14px;
  text-align: center;
  color: #d84e55;
  font-weight: 700;
  margin: 10px 30px 10px 90px;
  cursor: pointer;
}
